# 02 – Pretprocesiranje i integracija podataka

U ovom notebooku provodimo:
- čišćenje i pretvorbu tipova (CSV + JSON->tablica)
- standardizaciju naziva stupaca
- integraciju u jedinstveni skup za pohranu u bazu (SQLite)

Učitavanje podataka (iz data_raw)

In [1]:
from pathlib import Path
import pandas as pd

PROJECT_ROOT = Path.cwd().parent  # notebooks/ -> project root
DATA_RAW = PROJECT_ROOT / "data_raw"

dt = pd.read_csv(DATA_RAW / "DT.csv")
smp = pd.read_csv(DATA_RAW / "social_media_vs_productivity.csv")
tw = pd.read_csv(DATA_RAW / "Time-Wasters on Social Media.csv")
iu = pd.read_csv(DATA_RAW / "numberofinternetusers new.csv")

print("Loaded:")
print("DT:", dt.shape)
print("SMP:", smp.shape)
print("TW:", tw.shape)
print("IU:", iu.shape)

Loaded:
DT: (13, 2)
SMP: (30000, 19)
TW: (1000, 31)
IU: (6192, 4)

DT: Hours:Minutes -> minute

In [2]:
def hhmm_to_minutes(x):
    if pd.isna(x):
        return None
    s = str(x).strip()
    # očekujemo "HH:MM"
    if ":" not in s:
        return None
    hh, mm = s.split(":", 1)
    try:
        return int(hh) * 60 + int(mm)
    except:
        return None

dt_clean = dt.copy()
dt_clean["daily_minutes"] = dt_clean["Daily Time (Hours:Minutes)"].apply(hhmm_to_minutes)
dt_clean = dt_clean.drop(columns=["Daily Time (Hours:Minutes)"])

display(dt_clean.head())
print(dt_clean[["Year","daily_minutes"]].isna().sum())

   Year  daily_minutes
0  2012             90
1  2013             95
2  2014            104
3  2015            111
4  2016            128

Year             0
daily_minutes    0
dtype: int64